@model IEnumerable<CTROReporting.ViewModels.LoggerListViewModel>

@*<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.LogId)</th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.UserName)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>

        </tr>
    }
</table>*@
<head>
    <title>Popup editing</title>
    <meta charset="utf-8">
    <!--<link href="../../Content/kendo/examples-offline.css" rel="stylesheet">-->
    <link href="../../Content/kendo/kendo.common.min.css" rel="stylesheet">
    <link href="../../Content/kendo/kendo.default.min.css" rel="stylesheet">
    <link href="../../Content/kendo/kendo.rtl.min.css" rel="stylesheet">
    <link href="../../Content/kendo/kendo.default.mobile.min.css" rel="stylesheet">
    <script src="../../Scripts/jquery-3.1.0.js"></script>
    <script src="../../Scripts/kendo/jszip.min.js"></script>
    <script src="../../Scripts/kendo/kendo.all.min.js"></script>
    <script src="../../Scripts/kendo/console.js"></script>
</head>


<body>
    <h1>Logs</h1><br><br>

    <div id="example">
        <div class="demo-section k-content wide">
            <div id="grid"></div>
        </div>

        <script>
            var jsonObject = @Html.Raw(Json.Encode(Model));

            $(document).ready(function () {
                dataSource = new kendo.data.DataSource({
                    data: jsonObject,
                    batch: true,
                    pageSize: 50,
                    schema: {
                        model: {
                            id: "LogId",
                            fields: {
                                LogId: { editable: false, nullable: true },
                                Message: { validation: { required: true } },
                                UserName: { type: "string" }
                            }
                        }
                    }
                });

                $("#grid").kendoGrid({
                    dataSource: dataSource,
                    filterable: true,
                    pageable: true,
                    height: 550,
                    //toolbar: ["create"],
                    columns: [
                        { field: "LogId", title: "ID", filterable: { multi: true, search: true } },
                        { field: "Message", title: "Message", filterable: { multi: true, search: true } },
                        { field: "UserName", title: "User", filterable: { multi: true, search: true } }]
                    //editable: "popup"
                });
            });
        </script>
    </div>



</body>
