@model dynamic
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTRP Reporting</title>

    @Styles.Render("~/Content/CSS")
    @Scripts.Render("~/Scripts/HomeLayout")

</head>
<body>
    <nav class="navbar navbar-dark navbar-toggleable-md bg-dark sticky-top navbar-expand-lg p-0">
        @Html.Partial("_Header")
    </nav>

    <!-- Button trigger modal -->
    <div class="container-fluid">
        <div class="row">
            @Html.Partial("_NavigationBar")
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                @RenderBody()
            </main>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">

</script>
